<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jee="http://www.springframework.org/schema/jee" xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/cms?useUnicode=true&amp;characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="mysql" />
	</bean>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<tx:advice id="tx-advice-jdbc" transaction-manager="txManager">
       <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" propagation="REQUIRED"/>
       </tx:attributes>
     </tx:advice>   
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource">
			<ref local="dataSource" />
		</property>
		<property name="configLocation" value="classpath:sql-map-config.xml" />
	</bean>
	
	<bean id="newsDao" class="com.his.cms.dao.NewsDao" autowire="byName"/>
	<bean id="menuDao" class="com.his.cms.dao.MenuDao" autowire="byName"/>
	<bean id="imageDao" class="com.his.cms.dao.ImageDao" autowire="byName"/>
	<bean id="userDao" class="com.his.cms.dao.UserDao" autowire="byName"/>
	<bean id="adDao" class="com.his.cms.dao.AdDao" autowire="byName"/>
	<bean id="newsService" class="com.his.cms.service.NewsService" autowire="byName"/>
	<bean id="menuService" class="com.his.cms.service.MenuService" autowire="byName"/>
	<bean id="imageService" class="com.his.cms.service.ImageService" autowire="byName"/>
	<bean id="userService" class="com.his.cms.service.UserService" autowire="byName"/>
	<bean id="adService" class="com.his.cms.service.AdService" autowire="byName"/>
	
</beans>
