<div class="box foot clear">
	<strong>Celebrating the 16th Edition of Top Marques in China</strong>
	<p>Borrison / Luxuery Events Organiser</p>
</div>
<div style="height:30px"></div>
<p>&nbsp;</p>
<p align="center">沪ICP备07508629号-4<a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20120417163158237" target="_blank"> <img src="images/icon4.gif" alt="上海工商亮照标识" width="25" height="25"></a></p>