<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>${webSite.title}</title>
<meta name="keywords" content="${webSite.keywords}" />
<meta name="description" content="${webSite.description}" />
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<script type="text/javascript" src="/js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/js/common.js"></script>
<style type="text/css">
</style>
<script>
$(function() {
	$("#li_menu_${activeMenuId}").addClass("current");
});
</script>