<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("/header.vm")
		<script type="text/javascript" src="/js/intro.js"></script>
	</head>
	<body>
		<div class="box head">
			<h2><a href="cn/index.html">TOP MARQUES 上海奢侈品展:::博锐会展 BORRISON:::2013年10月25日-27日 上海展览中心</a></h2>
			<h3 class="cn">2013年10月25日-27日 上海展览中心</h3>
		</div>
		#parse("/menu.vm")
		<div class="main">
    		<div class="intro">
				<ul class="a">
					<li style="display:block"><img src="/upload/2012529182600.jpg"/></li>
					<li><img src="/upload/20125291826260.jpg"/></li>
					<li><img src="/upload/20125291826410.jpg"/></li>
				</ul>
				</ul>
				 <div class="t">
					 <h4 style="display:block">TOP MARQUES Shanghai image1</h4>
					 <h4>TOP MARQUES Shanghai image2</h4>
					 <h4>TOP MARQUES Shanghai image3</h4>
				 </div>
				 <div class="n">
					 <a class="hover">1</a>
					 <a>2</a>
					 <a>3</a>
				 </div>
				 <div class="bar"></div>
			</div>
			<div class="center">
				<div class="cn_Topnews ellipsis"> 
				#foreach($news in $newsList)      
				<a href="/${lang}/${news.menuEnSiteShow}/content-${news.id}.html" title="${news.title}"><h4>${news.title}</h4></a>
				#end
				</div>
				<div class="main_btn">
					<a href="/${lang}/gallery/" id="gallery">图库</a> 
				</div>
			</div>
			<div class="clear"></div>
		</div>
		#parse("/footer.vm")
		<p>&nbsp;</p>
	</body>
</html>