<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("/header.vm")
		<script type="text/javascript" src="/js/intro.js"></script>
	</head>
	<body>
		#parse("/top_banner.vm")
		#parse("/menu.vm")
		<div class="main">
    		<div class="intro">
				<ul class="a">
				#foreach($ad in $ads)
					<li style="display:block"><img src="/upload/${ad.saveFile}"/></li>
				#end
				</ul>
				 <div class="n">
				 #foreach($ad in $ads)
					 <a class="hover">${ad.id}</a>
				#end
				 </div>
				 <div class="bar"></div>
			</div>
			<div class="center">
				<div class="cn_Topnews ellipsis"> 
				#foreach($news in $newsList)      
				<a href="/${lang}/${news.menuEnSiteShow}/content-${news.id}.html" title="${news.title}"><h4>${news.titleSiteShow}</h4></a>
				#end
				</div>
				<div class="main_btn">
					<a href="/${lang}/news/" style="margin-left:4px;" id="news">新闻</a> 
					<a href="/${lang}/gallery/" id="gallery">图库</a> 
				</div>
			</div>
			<div class="clear"></div>
		</div>
		#parse("/footer.vm")
		<p>&nbsp;</p>
	</body>
</html>