<div class="mainmenu" id="mo_menu">
	<ul>
	#foreach( $menu in $menus)
		<li id="li_menu_${menu.id}">
			#if($lang == "cn")
			<a href="/${lang}${menu.pageHyperlink}">${menu.name}</a>
			#else
			<a href="/${lang}${menu.pageHyperlink}">${menu.nameEn}</a>
			#end
		</li>
	#end
	</ul>
</div>