
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("/header.vm")
	</head>
	<body>
		<div class="box head">
			<h2><a href="cn/index.html">TOP MARQUES 上海奢侈品展:::博锐会展
			BORRISON:::2013年10月25日-27日 上海展览中心</a></h2>
			<h3 class="cn">2013年10月25日-27日 上海展览中心</h3>
		</div>
		#parse("/menu.vm")
		<div class="main">
			<div class="left">
				<div class="banner"><img src="images/c1.jpg"></div>
				<div class="cpage">
				<div class="h20">
				${content}
				</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		#parse("/footer.vm")
		<div style="height: 30px"></div>
	</body>
</html>