<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#parse("/header.vm")
	</head>
	<body>
	#parse("/top_banner.vm")
	#parse("/menu.vm")
	<div class="main">
		<div class="cpage2">
			<div class="cleft h20 Infodetail cn_content">
			#if($lang=="cn")
				<div class="place"><span>首页</span><span>${menu.name}</span>${news.title}</div>
			#else
				<div class="place"><span>Home</span><span>${menu.nameEn}</span>${news.title}</div>
			#end
				<h1>${news.title}</h1>
				<div style="padding-bottom:15px;color:#8E7C62">发布时间. <em>${news.createTimeShowSite}</em></div>
				${news.content}
			</div>
			#parse("/news_right.vm")
			<div class="clear"></div>
		</div>
	</div>
	#parse("/footer.vm")
	<div style="height:30px"></div>
	</body>
</html>