<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	#parse("/header.vm")
	</head>
	<body>
	<div class="box head">
		<h2><a href="cn/index.html">TOP MARQUES 上海奢侈品展:::博锐会展 BORRISON:::2013年10月25日-27日 上海展览中心</a></h2>
		<h3 class="cn">2013年10月25日-27日 上海展览中心</h3>
	</div>
	#parse("/menu.vm")
	<div class="main">
		<div class="cpage2">
			<div class="cleft h20 Infodetail cn_content">
			#if($lang=="cn")
				<div class="place"><span>首页</span><span>${menu.name}</span>${news.title}</div>
			#else
				<div class="place"><span>Home</span><span>${menu.nameEn}</span>${news.title}</div>
			#end
				<h1>${news.title}</h1>
				<div style="padding-bottom:15px;color:#8E7C62">发布时间. <em>${news.createTimeShowSite}</em></div>
				${news.content}
			</div>
			<div class="cright">
				<div class="btn">
					<a href="cn/news/" id="news">新闻</a>
					<a href="cn/gallery/Exhibitors&Booths/" id="gallery">图库</a>
					<a href="cn/videos/" id="videos">视频</a>
					<a href="cn/press/" id="press">媒体报道</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	#parse("/footer.vm")
	<div style="height:30px"></div>
	</body>
</html>