<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("/header.vm")
		<script type="text/javascript">
			// 隔行换色
			$(function() {
				$(".cn_newslist li").mouseover(function() {
					$(this).addClass("hover");
				}).mouseout(function() {
					$(this).removeClass("hover");
				})
				$(".cn_newslist li:even").addClass("space");
			})
		</script>
	</head>
	<body>
		<div class="box head">
		<h2><a href="cn/index.html">TOP MARQUES 上海奢侈品展:::博锐会展 BORRISON:::2013年10月25日-27日 上海展览中心</a></h2>
		<h3 class="cn">2013年10月25日-27日 上海展览中心</h3>
		</div>
		#parse("/menu.vm")
		<div class="main">
			<div class="cpage2">
				<div class="cleft">
					<h2>News 最新资讯</h2>
					<ul class="cn_newslist">
					#foreach( $news in $page.elements)
						<li>
							<a href="/${lang}/${relativeFolderPath}/content-${news.id}.html"><img src="${news.imgPath}" title='${news.title}' class="pc" /></a>
							<a href="/${lang}/${relativeFolderPath}/content-${news.id}.html">
								<h4>${news.title}</h4>
							</a>
							<div class="des">${news.summary}</div>
							<em>Published：${news.createTimeShowSite}</em> <a href="/${lang}/${relativeFolderPath}/content-${news.id}.html" title="阅读详情" class="more" ></a>
						</li>
					#end
					</ul>
					#parse("/pagination.vm")
				</div>
				#parse("/news_right.vm")
				<div class="clear"></div>
			</div>
		</div>
		#parse("/footer.vm")
		<div style="height: 30px"></div>
	</body>
</html>