
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		#parse("/header.vm")
	</head>
	<body>
		#parse("/top_banner.vm")
		#parse("/menu.vm")
		<div class="main">
			<div class="left">
				<div class="banner"><img src="/upload/${menu.saveFile}" width="157" height="374"></div>
				<div class="cpage">
				<div class="h20">
				${content}
				</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		#parse("/footer.vm")
		<div style="height: 30px"></div>
	</body>
</html>